// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$navy: #1A1A2E;
$gray: #0E0000;
$light-gray: #F4F4F4;

$primary: #0A892A;
$secondary: #0056B3;
$tossibly-white: #FEFDFC;

$forest: #1E4B2D;
$leaf:   #3E8E5A;
$mint:   #B8D9CC;
$cream:  #F4F1E2;
$gold:   #F6D1AC;
$ink:    #1F261F;

$sun: #F6D960;
