.navbar-tossibly {
  justify-content: space-between;
  background: #1A1A2E;
  color: $tossibly-white;
}

.navbar-tossibly .navbar-collapse {
  flex-grow: 0;
}

.navbar-tossibly .navbar-brand img {
  height: 40px;
}

.navbar-tossibly .nav-link {
  color: $tossibly-white;
}
